*
{
  overflow-x             : hidden;
  outline                : none;
  -webkit-font-smoothing : subpixel-antialiased;
  -webkit-user-select    : none;
  -webkit-user-drag      : none;

  font-family   : 'Roboto', sans-serif;
}

body
{
  background : rgba(0, 0, 0, 0.015);
}

#no-conn-dialog
{
  width      : 600px;
  height     : 320px;
}

#error-header
{
  margin-top  : 50px;
  text-align  : center;
  font-weight : 100;
  font-size   : 40px;
  color       : rgba(0, 0, 0, 0.80);
}

#error-desc-box
{
  padding-top : 20px;
}

.error-desc
{


  margin        : 0 auto;
  margin-top    : 2px;
  text-align    : center;
  font-weight   : 400;
  font-size     : 14px;
  color         : rgba(0, 0, 0, 0.60);
}

#bottom-desc
{
  padding-top : 5px;
}

#btn-link
{
  -webkit-transition : color 0.3s;
  background         : none;
  border             : none;
  padding            : 0px 0px;
  color              : rgba(0, 0, 0, 0.60);
  font-weight        : 500;
  font-size          : 14px;
  cursor             : pointer;
}

#btn-link:hover
{
  color : rgba(0, 0, 0, 0.80);
}

#btn-retry
{
  margin-left : calc(50% - 270px/2);
  -webkit-transition : all 0.3s;

  border-radius : 4px;
  background : none;
  border  : 1px solid rgba(0, 0, 0, 0.40);
  color      : rgba(0, 0, 0, 0.80);
  margin-top : 40px;
  height     : 45px;
  width      : 270px;

  font-weight   : 400;
  font-size     : 15px;
    cursor             : pointer;
}

#btn-retry:hover
{
  border     : none;
  background : rgba(0, 0, 0, 0.70);
  color      : white;
}
