/** GENERAL **/

*
{
  outline                : none;
  -webkit-font-smoothing : subpixel-antialiased;
  -webkit-user-select    : none;
}

/** FORM **/

.form
{
  position : absolute;
  width    : 440px;
  left     : calc(50% - 440px/2);
}

#auth-form
{
  height : 161px;
  top    : calc(50% - 161px/2);
}

#form-content
{
  height     : 90px;
  margin-top : 30px;
}

#action-header
{
  -webkit-transition : border-bottom 0.3s;
  height             : 40px;
  border-bottom      : 1px solid rgba(0, 0, 0, 0.08);
  text-align         : center;
}

#action-header div
{
  -webkit-transition : color 0.3s;
  color              : rgba(0, 0, 0, 0.9);
  font-family        : 'Roboto', sans-serif;
  font-weight        : 400;
  font-size          : 20px;
}

#action-header.as-error-container
{
  border-bottom : 1px solid #DF4930;
}

#action-header.as-error-container div
{
  font-size : 16px;
  color     : #DE5234; /* soft red */
}

/** INPUT AREA **/

#input-area
{
  width  : 220px;
  height : 90px;
  float  : left;
}

#input-area #inp-passw
{
  margin-top : 10px;
}

input
{
  -webkit-transition  : border-color 0.15s;
  -webkit-user-select : all;
  height              : 39px;
  width               : 219px;
  border              : 1px solid rgba(0, 0, 0, 0.15);
  border-radius       : 2px;
  font-family         : 'Roboto', sans-serif;
  font-weight         : 400;
  font-size           : 14px;
  color               : rgba(0, 0, 0, 0.8);
  text-indent         : 10px;
  padding             : 0px 0px;
}

input:hover
{
  border-color : rgba(0, 0, 0, 0.25);
}

input:focus
{
  border-color : rgba(0, 0, 0, 0.35);
}

/** INTERACT AREA **/

#interact-area
{
  float  : right;
  width  : 200px;
  height : 90px;
}

.hint-text
{
  color       : rgba(0, 0, 0, 0.8);
  font-family : 'Roboto', sans-serif;
  font-weight : 400;
  font-size   : 14px;
}

#text-block
{
  width : 200px;
}

#actions
{
  margin     : 0 auto;
  width      : 157px;
  margin-top : 10px;

}

.btn-link
{
  -webkit-transition : color 0.15s;
  background         : none;
  border             : none;
  padding            : 0px 5px;
  color              : rgba(0, 0, 0, 0.55);
  font-family        : 'Roboto', sans-serif;
  font-weight        : 500;
  font-size          : 14px;
}

.btn-link:hover
{
  color : #34C0DE; /* soft blue */
}
