/**
background : #f9fafc (nearly white)
hdr border : #F5F5F5 (nearly white)
border     : #DCDCDC (very light gray)
text       : #808080 (normal gray)
button     : #666666 (dark gray)
input      : #565656 (nearly black)
active el  : #F87F6E (soft red)
**/


*
{
  overflow-x             : hidden;
  outline                : none;
  -webkit-font-smoothing : subpixel-antialiased;
  -webkit-user-select    : none;
  -webkit-user-drag      : none;
}

/** HEADER **/

#action-header
{
  position      : absolute;
  top           : 0;
  left          : 0;
  width         : 100%;
  height        : 150px;
  border-bottom : 1px solid #F5F5F5;
}

#action-header div
{
  width       : 120px;
  height      : 56px;
  margin      : 0 auto;
  margin-top  : calc(150px/2 - 56px/2);
  color       : #808080;
  font-family : 'Roboto', sans-serif;
  font-weight : 300;
  font-size   : 40px;
}

/** FORM **/

.form
{
  position : absolute;
  width    : 440px;
  left     : calc(50% - 440px/2);
}

#auth-form
{
  height : 160px;
  top    : calc(50% - 160px/2 + 75px - 30px);
}

/** INPUT **/

#inputs
{
  width    : 200px;
  height   : 100px;
  float    : left;
}

#inputs #inp-passw
{
  margin-top : 10px;
}

input
{
  -webkit-user-select : all;
  background-color    : white;
  height              : 40px;
  width               : 190px;
  border              : 1px solid #DCDCDC;
  border-radius       : 2px;
  font-family         : 'Roboto', sans-serif;
  font-weight         : 400;
  font-size           : 14px;
  color               : #565656;
  text-indent         : 10px;
}

input::-webkit-input-placeholder
{
  color : #808080;
}

/** INTERACTION AREA **/

#interact-area
{
  height     : 70px;
  width      : 220px;
  float      : right;
  margin-top : 15px;
}

#hint-text
{
  height        : 30px;
  margin        : 0 auto;
  border-bottom : 1px solid #F5F5F5;
  color         : #808080;
  font-family   : 'Roboto', sans-serif;
  font-weight   : 400;
  font-size     : 16px;
  text-align    : center;
}

#actions
{
  height : 30px;
  width  : 136px;
  margin : 0 auto;
  margin-top : 5px;
}

/** BUTTONS **/

.btn-link
{
  -webkit-transition : color 0.4s;
  background         : none;
  border             : none;
  padding-left       : 2px;
  font-size          : 14px;
  color              : #808080;
  font-family        : 'Roboto', sans-serif;
  font-weight        : 500;
  font-size          : 14px;
}

.btn-link:hover
{
  color : #F87F6E;
}

/** MISTAKES HANDLE **/

#mistake-box
{
  -webkit-transition : opacity 0.5s;

  margin-top  : 15px;
  height      : 40px;
  text-align  : center;

  color       : #808080;
  font-family : 'Roboto', sans-serif;
  font-weight : 400;
  font-size   : 16px;

  opacity     : 0;
}

#mistake-box.show-mistake
{
  opacity : 1;
}

#mistake-msg
{
  opacity : 1;
}

#mistake-msg
{
  overflow : hidden;
}

#mistake-msg:before,
#mistake-msg:after
{
  content        : '';
  display        : inline-block;
  vertical-align : middle;
  box-sizing     : border-box;
  width          : 100%;
  height         : 1px;
  background     : #F5F5F5;
}

#mistake-msg:before
{
  margin-left: -100%;
}

#mistake-msg:after
{
  margin-right : -100%;
}
