/** GENERAL *******************************************************************/

body
{
  background-color : white;
  overflow-x       : hidden;
}

*
{
  outline                : none;
  -webkit-font-smoothing : antialiased;
}

@-webkit-keyframes fadeIn
{
  from { opacity : 0; } to { opacity : 1; }
}

/** INPUT *********************************************************************/

input
{
  -webkit-transition : border-bottom-color 0.5s;

  width       : 260px;
  height      : 40px;

  border-radius       : 0px;
  border-width        : 0px;
  border-bottom-width : 1px;
  border-bottom-color : #DCDCDC; /* light gray */

  font-family : 'Roboto', sans-serif;
  font-weight : 400;
  font-size   : 14px;
  color       : #565656; /* dark gray */

}

input.filled::-webkit-input-placeholder
{
  -webkit-transition : opacity 0.5s;
  opacity : 0;
}

input:focus
{
  border-bottom-width : 1.5px;
  border-bottom-color : #F0BB67; /* yellow */
}

input::-webkit-input-placeholder
{

  -webkit-transition : opacity 0.5s;

  opacity    : 1;
  text-align : left;

  color : #808080; /* light gray */
}

input:focus::-webkit-input-placeholder
{
  text-align : right;
  visibility : visible !important;
}

/* Поле ввода подсвечивается красным цветом если возникает ошибка. */
input.with-error
{
  -webkit-transition : all 0.5s;

  border-bottom-width : 1.5px;
  border-bottom-color : #F26065; /* soft red */
}

/* Поле ввода меньшей длины. Помещается с таким же полем в одну строку. */
input.short
{
  width : 125px;
}

input.short::-webkit-input-placeholder
{
  -webkit-transition : opacity 0s;
}

input.short:focus::-webkit-input-placeholder
{
  text-align : left;
  opacity    : 0;
}

/** BUTTON ********************************************************************/

button.btn-link
{
  -webkit-transition : all 0.5s;

  background-color : white;
  color            : #808080; /* light gray */

  border-width : 0px;

  font-family     : 'Roboto', sans-serif;
  font-weight     : 500;
  font-size       : 13px;
}

button.btn-link:hover
{
  color : #565656; /* dark gray */
}

button.btn-important
{
  -webkit-transition         : all 0.2s;

  background-color           : #F0BB67; /* yellow */
  -webkit-animation-name     : fadeIn;
  -webkit-animation-duration : 0.7s;
  color                      : white;
  width                      : 260px;
  height                     : 50px;
  border-width               : 0px;
  font-family                : 'Roboto', sans-serif;
  font-size                  : 16px;
  font-weight                : 500;
  border-radius              : 3px;
}

button.btn-important:hover
{

  background : #FFD072; /* light yellow */
}

button.btn-important:active
{
  background-color : #EDBA6A; /* dark yellow */
}

/** DIV ***********************************************************************/

div
{
  padding-top         : 10px;
  -webkit-user-select : none;
}

div.row
{
  width            : 260px;
  height           : 43px;
}

div.row div
{
  padding-top : 0px;
}

div.row div:first-child
{
  float : left;
}

div.row div:last-child
{
  float : right;
}

.additional-btns
{
  text-align : center;
  margin     : auto;
  padding-top : 0px;
}

.main-div
{
  width               : 260px;
  margin              : auto;
  position            : absolute;
  left                : 0;
  right               : 0;
  bottom              : 0;
  top                 : 130px; /* Из-за размера header. */
  text-align          : left;

}

#login-form.main-div
{
  height : 286px;
}

#recovery-form.main-div
{
  height : 233px;
}

#reg-form.main-div
{
  height : 339px;
}

#start-form.main-div
{
  height : 160px;
}

/** TEXT BOXES ****************************************************************/

#invalid-input-text
{
  opacity     : 0;
  height      : 0px;
  color       : #F26065; /* soft red */
  text-align  : left;
  font-size   : 14px;
  font-weight : 400;
  font-family : 'Roboto', sans-serif;
}

#invalid-input-text.with-error
{
  height  : 20px;
  opacity : 1;
}

.hdr-text
{
  font-family : 'Roboto', sans-serif;
  font-size   : 17px;
  font-weight : 500;
  color       : #565656; /* dark gray */
}

.form-text
{
  font-family : 'Roboto', sans-serif;
  font-size   : 14px;
  font-weight : 400;
  color       : #808080; /* light gray */
}

/** IMAGES ********************************************************************/

img
{
  margin : auto;
}

.hdr-wrapper
{
  position : relative;
  margin : 0 auto;
  width  : 333px;
}

.header
{
  position : absolute;
  width : 100%;
  float : left;
  top   : 0;
  left  : 0;
  background-color : #F0BB67;
}
