#no-conn-box
{
  position : absolute;
  bottom   : 0;

  background : white;
  border     : none;
  border-top : 1px solid rgba(0, 0, 0, 0.08);

  -webkit-transition : height 0.3s;
  width              : 100%;
  height             : 0px;
  opacity            : 0;

  font-family : 'Roboto', sans-serif;
  font-size   : 18px;
  font-weight : 300;
  text-align  : center;
  color       : rgba(0, 0, 0, 0.50);
}

#no-conn-box div
{
  height     : 20px;
  margin-top : 15px;
}

#no-conn-box.shown
{
  opacity : 1;
  height  : 60px;
}

#btn-retry
{
  -webkit-transition : color 0.3s;
  background         : none;
  border             : none;
  padding            : 0px 5px;
  color              : rgba(0, 0, 0, 0.70);
  font-family        : 'Roboto', sans-serif;
  font-weight        : 300;
  font-size          : 18px;
}

#btn-retry:hover
{
  color : rgba(0, 0, 0, 1);
}
