#no-conn-box
{
  position    : absolute;
  bottom      : 0;

  background  : white;
  border      : none;
  border-top  : 1px solid rgba(0, 0, 0, 0.08);

  width       : 100%;
  height      : 60px;
  visibility  : hidden;

  font-family : 'Roboto', sans-serif;
  font-size   : 16px;
  font-weight : 400;
  text-align  : center;
  color       : rgba(0, 0, 0, 0.40);
}

#no-conn-box div
{
  height     : 20px;
  margin-top : 15px;
}

#no-conn-box.hidden
{
  visibility        : visible;
  -webkit-animation : slideOutDown 0.5s forwards;
}

#no-conn-box.hidden div
{
  visibility        : visible;
  -webkit-animation : slideOutDown 0.25s forwards;
}

#no-conn-box.shown
{
  visibility : visible;
  -webkit-animation : slideInUp 0.25s;
}

#no-conn-box.shown div
{
  -webkit-animation : slideInUp 0.5s;
}

#btn-retry
{
  -webkit-transition : color 0.3s;
  background         : none;
  border             : none;
  padding            : 0px 5px;
  color              : rgba(0, 0, 0, 0.60);
  font-family        : 'Roboto', sans-serif;
  font-weight        : 400;
  font-size          : 16px;
}

#btn-retry:hover
{
  color : rgba(0, 0, 0, 0.80);
}

#btn-retry:disabled
{
  color   : rgba(0, 0, 0, 0.40);
  cursor  : default;
}

@-webkit-keyframes slideInUp
{
  from { -webkit-transform: translate3d(0, 100%, 0); visibility: visible; }
  to   { -webkit-transform: translate3d(0, 0, 0);                         }
}

@-webkit-keyframes slideOutDown
{
  from { -webkit-transform: translate3d(0, 0, 0);                        }
  to   { visibility: hidden; -webkit-transform: translate3d(0, 100%, 0); }
}
