body
{
  background-color: "white";
}

*
{
  outline: none;
}

@-webkit-keyframes fadeIn
{
  from { opacity : 0; } to { opacity : 1; }
}

div
{
  padding-top : 10px;
}

input
{
  width       : 250px;
  height      : 40px;
  line-height : 24px;

  border-radius       : 0px;
  border-width        : 0px;
  border-bottom-width : 1px;

  font-family : roboto;

  color : #808080; /* light gray */
}

input:focus
{
  border-bottom-width : 1.5px;
  border-bottom-color : #F0BB67; /* yellow */

  -webkit-animation-name     : fadeIn;
  -webkit-animation-duration : 0.5s;
}

input.with-error
{
  border-bottom-width : 1.5px;
  border-bottom-color : #F26065; /* soft red */

  -webkit-animation-name     : fadeIn;
  -webkit-animation-duration : 0.5s;
}

input::-webkit-input-placeholder
{
  color : #808080; /* light gray */
}

button.btn-link
{
  background-color : white;
  color            : #808080; /* light gray */

  border-width : 0px;

  text-decoration : underline;
  font-family     : roboto;
  font-size       : 13px;
}

button.btn-link:hover
{
  text-decoration : none;
}

button.btn-important
{
  background-color           : #F0BB67; /* yellow */
  -webkit-animation-name     : fadeIn;
  -webkit-animation-duration : 2s;
  color                      : white;
  width                      : 250px;
  height                     : 50px;
  border-width               : 0px;
  font-family                : roboto;
  font-size                  : 16px;
  border-radius              : 3px;
}

button.btn-important:hover
{
  background: #FFD072;/* light yellow */
}

button.btn-important:active
{
  background-color : #EDBA6A; /* dark yellow */
}

.additional-btns
{
  text-align : center;
  margin     : auto;
  padding-top : 0px;
}

.main-div
{
  -webkit-user-select : none;
  width               : 250px;
  height              : 400px;
  margin              : auto;
  position            : absolute;
  top                 : 20%;
  left                : 0;
  right               : 0;
  bottom              : 0;
  text-align : left;
}

#invalid-input-text
{
  opacity     : 0;
  height      : 0px;
  color       : #F26065; /* soft red */
  text-align  : left;
  font-size   : 16px;
  font-family : roboto;
}

#invalid-input-text.with-error
{
  height : 20px;
  opacity : 1;
}
