body
{
  background-color: "white";
}

*
{
  outline : none;
  -webkit-font-smoothing : antialiased;
}

@-webkit-keyframes fadeIn
{
  from { opacity : 0; } to { opacity : 1; }
}

div
{
  padding-top : 10px;
}

input
{
  -webkit-transition : all 1s;

  width       : 260px;
  height      : 40px;
  line-height : 24px;

  border-radius       : 0px;
  border-width        : 0px;
  border-bottom-width : 1px;
  border-bottom-color : #DCDCDC; /* light gray */

  font-family : 'Roboto', sans-serif;
  color       : #565656; /* dark gray */
}

input:focus
{
  -webkit-transition : all 0.2s;

  border-bottom-width : 1.5px;
  border-bottom-color : #F0BB67; /* yellow */
}

input.with-error
{
  -webkit-transition : all 0.5s;

  border-bottom-width : 1.5px;
  border-bottom-color : #F26065; /* soft red */
}

input::-webkit-input-placeholder
{
  color : #808080; /* light gray */
}

button.btn-link
{
  -webkit-transition : all 0.5s;

  background-color : white;
  color            : #808080; /* light gray */

  border-width : 0px;

  font-family     : 'Roboto', sans-serif;
  font-weight     : 500;
  font-size       : 13px;
}

button.btn-link:hover
{
  color : #565656; /* dark gray */
}

button.btn-important
{
  -webkit-transition         : all 0.2s;

  background-color           : #F0BB67; /* yellow */
  -webkit-animation-name     : fadeIn;
  -webkit-animation-duration : 2s;
  color                      : white;
  width                      : 260px;
  height                     : 50px;
  border-width               : 0px;
  font-family                : 'Roboto', sans-serif;
  font-size                  : 16px;
  font-weight                : 500;
  border-radius              : 3px;
}

button.btn-important:hover
{

  background : #FFD072; /* light yellow */
}

button.btn-important:active
{
  background-color : #EDBA6A; /* dark yellow */
}

.additional-btns
{
  text-align : center;
  margin     : auto;
  padding-top : 0px;
}

.main-div
{
  -webkit-user-select : none;
  width               : 260px;
  height              : 400px;
  margin              : auto;
  position            : absolute;
  top                 : 20%;
  left                : 0;
  right               : 0;
  bottom              : 0;
  text-align : left;
}

#login-form.main-div
{
  height : 315px;
  top    : 5%; /* TODO: Реализовать с помощью GTK автоматическое
                        выравнивание формы по центру. */
}

#invalid-input-text
{
  opacity     : 0;
  height      : 0px;
  color       : #F26065; /* soft red */
  text-align  : left;
  font-size   : 14px;
  font-weight : 400;
  font-family : 'Roboto', sans-serif;
}

#invalid-input-text.with-error
{
  height : 20px;
  opacity : 1;
}

.hdr-text
{
  font-family : 'Roboto', sans-serif;
  font-size   : 17px;
  font-weight : 500;
  color       : #565656; /* dark gray */
}

.form-text
{
  font-family : 'Roboto', sans-serif;
  font-size   : 14px;
  font-weight : 400;
  color       : #808080; /* light gray */
}
